.review-container div:first-child{
    position: relative;
    padding: 0;
    border-radius: 10px;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    height: 200px;
    cursor: pointer;
}
.review-container div:first-child:hover{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.review-container img{
    width: 50px;
    height: 50px;
    position: absolute;
    top: -70px;
    right: 1%;
}
.review-container p{
    padding: 5px;
    font-size: 18px;
    font-family: sans-serif;
    color: #7c7b7b;
    margin-bottom: 20px;
}
.review-container h5{
    margin-top: 10%;
}
.review{
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.review:last-child{
    float: left;
}
